[Unit]
Description=AgriBot Web Server
After=network.target

[Service]
Type=simple
User=nww
WorkingDirectory=/home/nww/Downloads/pro/project-robot/PI_WEBAPP/backend
ExecStart=/home/nww/Downloads/pro/project-robot/start_agribot.sh
Restart=on-failure
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
